::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scroll-behavior: smooth !important;
  }

  body {
    margin: 0%;
	font-family: 'Segoe UI', sans-serif;
	background-color: #F2F2F2;
  scroll-behavior: smooth !important;
}

form {
  width: auto;
  height: auto;
  margin: auto;
  display: grid;
}

a {
  text-decoration: none;
  color: black;
}

input {
  width: 12rem;
  height: 2rem;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0.8rem auto;
}

select {
  width: 12rem;
  height: 2rem;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0.8rem auto;
}

option {
  padding: 0%;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0.8rem auto;
}

textarea {
  resize: none;
  width: 12rem;
  height: 3rem;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 0.5rem;
  margin: 0.8rem auto;
  padding: 2%;
}

h4 {
  margin: 1rem auto 1.8rem auto;
}

h2 {
  display: inline-block;
}

h6 {
  margin: 0%;
}

h5 {
  margin-top: 0%;
}

/*HEAD*/

.head {
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

.btnes {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnhead {
  width: 50px;
  height: max-content;
  box-sizing: border-box;
  margin: 0% auto;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: white;
  background-image: url(../img/home.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fix {
  margin: 0%;
}

/*BODY*/
  
.body {
    width: 90vw;
    height: 85vh;
    box-sizing: border-box;
    margin: auto;
    overflow: scroll;
}

.categories-form h2 {
  display: inline-block;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
}

.categorias {
  text-align: center;
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  background-color: #e3dfeb;
  padding: 1rem;
  border-radius: 1rem;
  overflow: scroll;
}

.menu-item {
  margin: auto;
  width: 28rem;
  height: 10rem;
  margin-bottom: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
}

.h2 {
  margin: 2rem 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  margin: 0 10px;
}

.a {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.a:hover {
  background-color: white;
}

.confirm:hover {
  background-color: rgb(0, 128, 0, 0.2);
}

.deny:hover {
  background-color: rgb(255, 0, 0, 0.2);
}

.crear {
  background-color: #d1c4e9;
  color: #555;
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.crear:hover {
  background-color: #b39ddb;
}

.title {
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.contenedor {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 1;
}

.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.30s, opacity 0.30s ease-in-out;
	z-index: 2;
}

.popup-container:target {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 0.30s ease-in-out;
}

.popup {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
  width: auto;
  height: auto;
}

.cerrar {
  color: rgb(255, 0, 0, 0.5);
  width: min-content;
  font-weight: bold;
  background-color: transparent;
  margin: auto;
	display: block;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.cerrar:hover {
  color: red;
}

.ver-detalles {
  width: 5rem;
  display: block;
  margin: 20px auto;
  color: blue;
  cursor: pointer;
  transition: all 0.5s ease;
}

.oculto {
  display: none;
  }
  
.oculto:checked + .detalles {
  display: block;
  height: 10rem; /* ajusta la altura a tu preferencia */
  padding: 0.8rem;
}

.detalles {
  display: block;
  margin-top: 20px;
  background-color: #eee;
  border-radius: 10px;
  height: 0;
  overflow: auto;
  transition: all 0.5s ease;
}

.btnsubmit {
  background-color: #e3dfeb;
  border: none;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 1rem auto;
}

.btnsubmit:hover {
  background-color: #d3c4d3;
}

input[type="file"] {
  display: none;
}
.emoji-upload {
  background-image: url("../img/foto.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}
.blur {
  color: white;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(1.5px) !important;
  border-radius: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.3rem;
}

.put {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.3rem;
}

.animate:hover {
  width: 30%;
}

.containerp {
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  background-color: #e3dfeb;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productos {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  flex-direction: row;
  align-content: flex-start;
}

.cate_min {
  margin: 0.1rem;
  width: calc(33.33% - 1rem);
  height: 8rem;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
  background-color: rgb(0, 0, 0, 0.5);
}

.cate_min:hover {
  padding: 1rem;
}

.productos {
  width: 35rem;
  height: 35rem;
  box-sizing: border-box;
  overflow: scroll;
}

.item-producto {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem auto;
  width: 50%;
  height: auto;
  transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.2);
}

.img-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8rem;
  width: 8rem;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.img-producto:hover label {
  opacity: 1;
  transition: all 0.5s ease;
}

.img-producto label,
.img-producto input {
  opacity: 0;
  width: 50%;
  height: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  border: transparent;
  height: 2.5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  margin: 0.3rem auto;
}

.button {
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    height: 2.2rem;
    width: 5rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    margin: 0.5rem !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
  background-color: rgba(200, 255, 0, 0.6);
  border: 1px white solid;
  color: white;
}

.borrar:hover {
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px white solid;
  color: white;
}

#afull {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}


/*FOOT*/

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 5vh;
  box-sizing: border-box;
  background-color: #555;
}


